@font-face {
  font-family: ygoItalics;
  src: url('fonts/yugioh_itc_stone_serif_lt_italic-webfont.woff2');
  src: url('fonts/yugioh_itc_stone_serif_lt_italic-webfont.woff')
}
@font-face {
  font-family: ygoFont;
  src: url('fonts/yugioh_matrix_book-webfont.woff2');
  src: url('fonts/yugioh_matrix_book-webfont.woff')
}

h1 {
  background-color: black;
  opacity: .3;
  color: whitesmoke;
  font-family: 'ygoFont', Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

#sign-up-form {

}

#obelisk-image {
  max-width: 100%;
  max-height: auto;
}

#user-info {
  display: flex;
}

.info-column {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  line-height: 1.5em;
}